ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0;
}
.title{
    height: 50px;
    background-color: grey;
    display: flex;
}
.title1{
    font-size: 16px;
    font-weight: 900;
    margin-left: 20px;
    margin-top: 16px;
    color: #ffffff;
}
li{
    display: flex;
    flex-grow: 2;
}
.title2{
    width: 100px;
    height: 100px;
    background-color: darkgrey;
    display: inline-block;
    border-bottom: 1px white solid;
    line-height: 100px;
    text-align: center;
    font-weight: 900;
}
p {
    display: inline-block;
    margin: 0;
}
.content{
    padding-left: 5px;
    border-bottom: 0.5px grey solid;
    height: 100px;
    width:100%;
    border-right: 0.5px grey solid;
    display: block;
}
.fontBold{
    font-weight: 900;
    padding-bottom: 0;
    display: inline-block;
}
.right{
    padding-right: 20px;
    padding-left: 10px;
}
.block{
    display:block;
}
.margin-top{
    margin-top: 15px;
}
.change-button{
    border-radius: 5px;
    margin-left: 20px;
    height: 50px;
    width: 100px;
    background-color: #ffffff;
}
.button-unit{
    float: right;
    opacity: 0.6;
}