.right{
	padding-right: 20px;
}
.fontBold{
	font-weight: 900;
	line-height: 0.2rem;
	padding-bottom: 0;
}
.title1{
	font-size: 2.0rem;
	font-weight: 900;
	margin-top: 0;
	padding-top: 0;
}

.title2{
	font-size: 1.5rem;
	font-weight: 900;
}
body{
	margin: 0;
}
ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.change-button{
	border-radius: 5px;
	margin-left: 20px;
	height: 50px;
	width: 100px;
	background-color: #ffffff;
}
.button-unit{
	float: right;
	opacity: 0.6;
}

